html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none; 
}

select {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    font-family:"droid-1";
}

input[type=checkbox] {
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-register-tos-agree {
    font-size: 1em;
    color: #FFFFFF;
    margin: auto;
    width: 95%;
}


/* LEADERBOARD */

.box-leaderboard {
    background: #F1F1F1;
    border-radius: 5px;
    color: #666666;
    margin: 1em;
    padding: 0.5em;
    overflow-y: auto;
}

.box-leaderboard-image {
    width: 100%;
}

.box-leaderboard-image img {
    max-width: 300px;
}

.box-leaderboard-navigation {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.box-leaderboard-navigation a {
    text-decoration: none;
}

.span_2_of_4_leaderboard {
    display: table;
}

.span_2_of_4_leaderboard a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.box-leaderboard-navigation-item {
    text-align: center;
    padding: 0;
    height: auto;
    font-size: 0.65em;
}

.box-leaderboard-navigation-item-highlighted {
    background-color: rgba(204, 204, 204, 0.3);
    /* lighter color */
}

.box-leaderboard-col-header {
    padding: 0 0.5em 0 0.45em;
    font-size: 1.16em;
    font-weight: 900;
}

.box-leaderboard-icon img {
    padding: 0.2em 0 0 0;
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*border:1px solid #ccc;*/
}

.box-leaderboard-username {
    padding: 0.5em;
    /*border:1px solid #ccc;*/
}

.box-leaderboard-first {
    font-size: 1em;
}

.box-leaderboard-second {
    font-size: 0.8em;
}

.box-leaderboard-score {
    padding: 0.5em;
    text-align: left;
}

.box-leaderboard-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
}

.box-leaderboard-subheader {
    font-size: 0.8em;
    margin: 0.8em;
}

.box-leaderboard-footer {
    bottom: 0;
    margin-bottom: 1em;
    font-size: 1.2em;
    text-align: center;
    position: fixed;
    color: #FFFFFF;
}

.box-leaderboard-contents {
    margin: 0em;
}

.box-leaderboard-close {
    text-align: right;
    background-image: url('media/graphics/api/close.png');
}

.span_2_of_10_leaderboard .box-leaderboard-score {
    padding-left: 1.4em !important;
}

/* LOGIN */

.box-login {
    background: #F1F1F1;
    border-radius: 5px;
    color: #666666;
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;
    overflow-y: auto;
}

.box-contest-rule-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family:"arial";
    color: #ffffff;
    border-bottom: 1px solid #ccc;
    margin: 0.35em;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
}

.box-login-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #f0841f;
    border-bottom: 1px solid #ccc;
    margin: 0.35em;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
}

.box-login-subheader {
    font-size: 0.8em;
    margin: 0.8em;
}

.box-login-footer {
    font-size: 1.2em;
}

.box-login-contents {
    margin: 0.5em;
}

.box-login-close {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    float: left;
    position: absolute;
    background-image: url('media/graphics/api/close.png');
    background-repeat: no-repeat;
}

.box-all-time {
    width: 132px;
    height: 50px;
    text-align: right;
    float: right;
    margin-right: 5px;
    background-image: url('media/graphics/game/gui/button-all-time.png');
    background-repeat: no-repeat;
}

.box-this-week {
    width: 132px;
    height: 50px;
    text-align: left;
    float: left;
    margin-left: 5px;
    background-image: url('media/graphics/game/gui/button-this-week.png');
    background-repeat: no-repeat;
}

.box-all-time-disabled {
    width: 132px;
    height: 50px;
    text-align: right;
    float: right;
    margin-right: 5px;
    background-image: url('media/graphics/game/gui/button-all-time-disabled.png');
    background-repeat: no-repeat;
}

.box-this-week-disabled {
    width: 132px;
    height: 50px;
    text-align: left;
    float: left;
    margin-left: 5px;
    background-image: url('media/graphics/game/gui/button-this-week-disabled.png');
    background-repeat: no-repeat;
}

.leader-board-title {
    width: 510px;
    height: 42px;
    text-align: left;
    float: left;
    margin-left: 5px;
    background-image: url('media/graphics/game/gui/leaderboard-title.png');
    background-repeat: no-repeat;
}

.box-login-form-input {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 1em;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0.3em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* CONTEST */

.contest-rule-title {
    color: #FFFFFF;
    font-size: 1em;
    font-family:"arial";
    padding: 0.5em 0.2em 0.5em 0.2em;
    font-weight: bold;
}

.contest-rule-number {
    color: #FFFFFF;
    font-size: 0.8em;
    font-family:"arial";
    padding: 0.3em 0.2em 0.3em 0.2em;
    font-weight: normal;
}

.contest-rule-line {
    color: #FFFFFF;
    font-size: 0.6em;
    font-family:"arial";
    padding: 0.2em 0.2em 0.2em 0.2em;
    font-weight: normal;
}

/* REGISTER */

.box-register {
    /* background: #F1F1F1; */
    border-radius: 5px;
    color: #666666;
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;
    overflow: auto;
}

.box-register-header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #f0841f;
    border-bottom: 1px solid #ccc;
    margin: 0.35em;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
}

.register-submit {
    text-align: center;
}

.box-register-header-1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

.box-register-header-2 {
    font-size: 1.25em;
    text-align: center;
    color: #FFFFFF;
    margin: 0.35em;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
}

.box-register-header-3 {
    font-size: 0.8em;
    text-align: center;
    color: #FFFFFF;
    margin: 0.35em;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
}

.box-register-header-4 {
    font-family:"arial";
    font-size: 0.75em;
    text-align: center;
    color: #FFFFFF;
    padding: 0.35em;
    margin: auto;
}

.box-container {
    color:white;
    background-color:rgba(255, 255, 255, 0.3);
    font-size:20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin: auto;
    /* border: 2px solid #fff; */
    /* position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

img.box-register-header-image {
    width: 100% !important;
    margin-top: 5px;
}

.box-register-subheader {
    font-size: 0.8em;
    margin: 0.8em;
}

.box-register-footer {
    text-align: center;
    font-size: 1.2em;
    color: #FFFFFF;
}

.box-register-contents {
    margin: 0.5em;
}

.box-register-close {
    width: 24px;
    height: 24px;
    text-align: right;
    float: right;
    background-image: url('media/graphics/api/close.png');
}

.box-register-play-again {
    width: 75px;
    height: 75px;
    text-align: right;
    float: right;
    background-image: url('media/graphics/game/gui/register-play-again.png');
}

.box-register-leader-board {
    width: 75px;
    height: 75px;
    text-align: left;
    float: left;
    background-image: url('media/graphics/game/gui/register-leader-board.png');
}

.box-register-form-input {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 1em;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0.3em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


/* REGISTER */

.box-reset-password {
    background: #F1F1F1;
    border-radius: 5px;
    color: #666666;
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;
}

.box-reset-password-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #f0841f;
    border-bottom: 1px solid #ccc;
    margin: 0.35em;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
}

.box-reset-password-subheader {
    font-size: 0.8em;
    margin: 0.8em;
}

.box-reset-password-footer {
    /* border-top: 1px solid #ccc; */
    font-size: 1.2em;
    margin: 0;
    padding-top: 0.4em;
}

.box-reset-password-contents {
    margin: 0.5em;
}

.box-reset-password-close {
    width: 24px;
    height: 24px;
    text-align: right;
    float: right;
    background-image: url('media/graphics/api/close.png');
}

.box-reset-password-form-input {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 1em;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0.3em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


/* POPUP */

.box-popup {
    background: #F1F1F1;
    border-radius: 5px;
    color: #666666;
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;
}

.box-popup-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #f0841f;
    border-bottom: 1px solid #ccc;
    margin: 0.35em;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
}

#okButton {
    margin-left: 0.5em;
}

.box-register-name.left{
    width: 48%;
    float: left;    
}

.box-register-name.right{
    width: 48%;
    float: right;    
}

.box-popup-subheader {
    font-size: 0.8em;
    margin: 0.8em;
}

.box-popup-footer {
    border-top: 1px solid #ccc;
    font-size: 0.8em;
    margin: 0.8em;
    padding-top: 0.4em;
}

.box-popup-contents {
    margin: 0.5em;
}

.box-popup-close {
    width: 24px;
    height: 24px;
    text-align: right;
    float: right;
    background-image: url('media/graphics/api/close.png');
}

.box-popup-form-input {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 0.8em;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0.3em;
}

.box-leaderboard-entry {
    font-size: 1em;
}

#forgot-password {
    font-size: 0.85em
}


/*
.login-submit {
    margin: 0.2em;
}
*/

@media only screen and (min-width: 500px) {
    /*
    .box-leaderboard-entry {
        font-size: 1em;
    }
*/
    /*
    .box-leaderboard-navigation-item {
        height: 1.6em;
        font-size: 1em;
    }
*/
    /*
    .box-leaderboard-footer {
        margin: 0.4em;
        font-size: 1em;
    }
*/
    .box-login-footer {
        font-size: 0.9em;
    }
    .box-register-footer {
        text-align: center;
        font-size: 0.9em;
        color: #FFFFFF;
    }
    .box-register-tos-agree {
        font-size: 0.9em;
    }
    .box-reset-password-footer {
        font-size: 0.9em;
    }
}
